#root{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px;
    background-color: rgb(224, 222, 222);
}
form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 60%;
    border-radius: 15px;
    background-color: rgb(176, 176, 237);
    padding: 10px;
    font-size: 20px;
}
form select{
    width: 70%;
    margin: 10px;
    font-size: 15px;
}
button{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(233, 170, 170);
}
.historial tbody tr td{
    border: 1px solid rgb(134, 133, 133);
    font-size: 20px;
    padding: 5px;
}
th{
    border: 1px solid rgb(94, 92, 92);
    background-color: rgb(186, 182, 200);
}
.resultado{
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.resultado tbody tr td{
    padding-left: 10px;
}
